version: '3.12'

services:
  caddy:
    build: ./caddy
    container_name: caddy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - frontend
      - backend

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    command: npm run dev
      
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    env_file:
      - .backend-env
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - /app/__pycache__/
    command: uvicorn app.main:app --host 0.0.0.0 --reload

volumes:
  caddy_data:
  caddy_config: